@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import "foundation_and_overrides";

body {
  .app-wrapper {
    .campaign-card {
      height: 300px;
      margin: 10px;
      background: darkgray;
    }
  }
}