@import "normalize";
@import url(https://fonts.googleapis.com/css?family=Lato:400,900);
@import "foundation_and_overrides";
@import "Hover";

body {
  .app-wrapper {
    margin: 40px 0;
    input[type="search"] {
      border-radius: 5px;
      font-size: 20px;
    }
    .campaigns {
      justify-content: center;
      display: flex;
      flex-flow: row wrap;
      a.campaign-card {
        color: inherit;
        height: 450px;
        width: 220px;
        margin: 10px;
        border-radius: 5px;
        background-color: #FEFEFC;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        .thumbnail {
          border-radius: 5px 5px 0 0;
        }
        .quick-info {
          position: relative;
          padding: 10px 15px;
          .pricing {
            color: #333333;
            font-size: small;
          }
        }
        // Customizes hover.css effect
        &.hvr-grow {
          &:hover, &:focus, &:active {
            transform: scale(1.03);
          }
        }
      }
    }
  }
}